# Logs
fitter.log

# Big generated outputs
plots/
sweights/

# Python cache
__pychache__/
*.pycfitter/scripts/task5_paperstyle.py
fitter/scripts/task5_paperstyle.py

# Ignore local python cache + local style scratch
__pycache__/
*.pyc
fitter/__pycache__/
fitter/scripts/task5_paperstyle.py
