# Logs
fitter.log

# Big generated outputs (do NOT commit)
plots/
sweights/

# Python cache
__pycache__/
*.pyc

plots_compare/
scripts/task5_compare*

plots_compare_paperstyle/
plots_compare_paperstyle_v2/
scripts/task5_paperstyle.py
scripts/task5_paperstyle_v2.py
plots_compare_paper_exact/
scripts/task5_paper_exact.py
plots_compare_supervisor_style/
